

<div *ngIf="getOviStatus()">
  
  <app-valvesinovi 
               
                [hospitalId]="this.hospitalId" 
                [pd]="pd" 
                [implant]="this.hv.Implant_position"
                (pushValve)="receiveNewValve($event)"></app-valvesinovi>
</div>
<div *ngIf="!getOviStatus()">
  
  <app-valvedetails 
                [hv]="hv" 
                [valveDescription]="this.valveDescription"
                [pd]="pd" 
                [hospitalId]="this.hospitalId"
                (pushValve)="receiveNewValve($event)"></app-valvedetails>
</div>
