<div class="form-group">
    <input
         [class.is-invalid]="ngControl.touched && ngControl.invalid"
         type={{type}}
         [formControl]="ngControl.control"
         placeholder="{{label}}"
         (blur)="checkUserAndereManier()"
         class="form-control">
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">Please enter a {{label}}</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.containsNoUpperCase">Password should have at least one character in uppercase</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.containsNoDigit">password should contain one digit</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.email">That's not a valid email</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">{{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}} characters</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">{{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}  characters</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.isMatching">Passwords do not match</div>
     
</div>
