<div class="container">
<div class="card mt-5">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert"> <span [innerHTML]="errorMessage"></span> </div>
        <div *ngIf="showSuccess" class="alert alert-success" role="alert"> Your password has been reset.<a [routerLink]="['/']">click here to login with your new password</a></div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="Save()">
          
           
            <div class="row">
                <div class="col-sm-6 mb-1">
                    <h5><span class="badge badge-secondary">Password: </span></h5>
                </div>
                <div class="col-sm-6 mb-1">
                    <app-text-input [formControl]='resetPasswordForm.controls["password"]' [label]='"password"'
                        [type]='"password"'></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-1">
                    <h5><span class="badge badge-secondary">Confirm Password: </span></h5>
                </div>
                <div class="col-sm-6 mb-1">
                    <app-text-input [formControl]='resetPasswordForm.controls["confirmPassword"]'
                        [label]='"Confirm Password"' [type]='"password"'></app-text-input>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>