<div class="container">
    <div class="card mt-5" >
     <div class="card-header"><h4><span>You entered the wrong password !</span></h4></div>
     <div class="card-body">


        
        <div *ngIf="showInitialComment" class="alert alert-info" role="alert">
            Please select what you want to do now
        </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            {{successMessage}}
        </div>

     </div>
     <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" (click)="tryAgain()">Try again</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="reset()">Reset password with a new one</button>
          </div>
     </div>
    </div>

    
</div>


