
<div class="container">
    <div class="card mt-5" *ngIf="showQuestion()">
     <div class="card-header"><h4><span>You entered the wrong password !</span></h4></div>
     <div class="card-body">
        Please select what you want to do now
     </div>
     <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" (click)="tryAgain()">Try again</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="reset()">Reset password with a new one</button>
          </div>
     </div>
    </div>






    <div class="card mt-5"  *ngIf="!showQuestion()">
    <div class="card-body">
        <h1 class="card-title">Reset password with a new one</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            {{successMessage}}
        </div>

        <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
            <div class="mb-3 row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-md-5">
                    <input type="text" id="email" formControlName="email" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <button type="submit" *ngIf="!showSuccess" class="btn btn-info" [disabled]="!forgotPasswordForm.valid">Submit</button>
                    <button type="button" *ngIf="showSuccess"class="btn btn-danger" (click)="cancel()" >Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
