<div class="card-header">
  <div class="row">
    <div class="col-sm-6">
      <h4 *ngIf="!showDetailsPanel()"><span class="badge badge-secondary">List of courses</span></h4>
      <h4 *ngIf="showDetailsPanel()"><span class="badge badge-secondary">Course details</span></h4>
    </div>






    <div class="col-sm-6"><button *ngIf="!showDetailsPanel()" class="btn btn-secondary btn-sm" style="float: right;"
        (click)="addCourse()">Add Course</button></div>
  </div>


</div>
<div class="card-body">

  <table class="table table-striped table-hover table-bordered" *ngIf="!showDetailsPanel()">
    <thead>
      <tr>
        <th>Id</th>
        <th>description</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfCourses">
        <td>{{item.courseId}}</td>
        <td>{{item.description}}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="showDetails(item.courseId)">details</button>
          <button class="btn btn-warning btn-sm" (click)="deleteModel(item.courseId)">delete</button>
        </td>
      </tr>


    </tbody>
  </table>
  <form [formGroup]="detailsForm" id="detailsForm" (ngSubmit)="updateCourse()" *ngIf="showDetailsPanel()"  name="form-01" >

    <div class="row">
      <div class="col-sm-8">

        <div class="row">
          <div class="col-sm-6">
            <h5><span class="badge badge-secondary">CourseId:</span></h5>
          </div>
          <div class="col-sm-6">
            <div [formGroup]="detailsForm">
              <input [formControl]='detailsForm.controls["CourseId"]' class="form-control" name="CourseId" readonly>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Level:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input [formControl]='detailsForm.controls["level"]' class="form-control"  name="cid-02" >
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Description:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input [formControl]='detailsForm.controls["description"]' class="form-control"  name="cid-03" >
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Title:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input [formControl]='detailsForm.controls["title"]' class="form-control" name="cid-04" >
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Venue location:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input [formControl]='detailsForm.controls["venue_location"]' class="form-control" name="cid-05" >
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Diploma:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input [formControl]='detailsForm.controls["diploma"]' class="form-control" name="cid-06" >
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Course Date:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                [formControl]='detailsForm.controls["courseDate"]' [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                name="datum1" />
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">End Date:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                [formControl]='detailsForm.controls["endDate"]' [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                name="datum2" />
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Price:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <div [formGroup]="detailsForm">
              <div class="row">
                <div class="col-sm-4"> <input [formControl]='detailsForm.controls["price"]' class="form-control" name="cid-07" ></div>
                <div class="col-sm-8 mt-2"><h6><span><label class="Lbl lbl-default">Euro</label></span></h6></div>
              </div>
             
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-sm-6 mb-1">
            <h5><span class="badge badge-secondary">Active:</span></h5>
          </div>
          <div class="col-sm-6 mb-1">
            <ui-switch formControlName='active'></ui-switch>
          </div>
        </div>


      </div>
      <div class="col-sm-4">
        <img 
        src="../../../assets/images/else-11.jpeg"
        width="375px"
        height="500px" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <button type="button" class="btn btn-warning btn-sm" (click)="Cancel()">Cancel</button>
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
      </div>
      <div class="col-sm-6"></div>

    </div>

  </form>

</div>