<div class="card mt-5">
  <div class="card-header">
    
    <div class="d-flex p-3 bg-secondary text-white">
      <div class="p-3 bg-info"><h4><span class="badge badge-secondary">Continuous Training</span></h4></div>
      <div class="p-3 bg-info" (click)="showDocuments()">Documents |</div>
      <div class="p-3 bg-info" (click)="showCourses()"> Courses |</div>
      <div class="p-3 bg-info" (click)="showEpa()"> Epa |</div>
      <div class="p-3 bg-info" (click)="showCME()"> CME</div>
    </div>
  
  
  </div>
  <div class="card-body">
    

  </div>
  <div class="card-footer">
    <button class="btn btn-success btn-xxs">Save</button>
  </div>
</div>