<div class="card mt-5">
  <div class="card-header">

   

    <div class="d-flex">
      <div class="p-3">
        
        
        
        <h4><span class="badge badge-secondary">Continuous Training</span></h4>
      
      
      
      </div>
      <div class="mt-3 ml-3"><button class="btn-outline-primary btn-sm" (click)="showDocuments()">Documents</button></div>
      <div class="mt-3 ml-3"><button class="btn-outline-primary btn-sm" (click)="showCourses()">Courses</button></div>
      <div class="mt-3 ml-3"><button class="btn-outline-primary btn-sm" (click)="showEpa()">Entrusted Professional Activities</button></div>
      <div class="mt-3 ml-3"><button class="btn-outline-primary btn-sm" (click)="showCME()">CME</button></div>
    </div>


  </div>
  <div class="card-body">
    <div *ngIf="showEpaPanel()"><app-epa></app-epa></div>
    <div *ngIf="showDocPanel()"><app-documents [userId]="currentUserId"></app-documents></div>
    <div *ngIf="showCoursesPanel()"><app-courses></app-courses></div>
    <div *ngIf="showCMEPanel()"><app-cme></app-cme></div>

  </div>
</div>