<div class="card-header"><h4><span class="badge badge-secondary">List of documents {{userId}}</span></h4></div>
<div class="card-body">
   <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>documentId</th>
        <th>description</th>
       
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfDocuments">
        <td>{{item.documentId}}</td>
        <td>{{item.description}}</td>
        <td><button class="btn btn-warning btn-sm" (click)="showDetails(item.documentId-1)">details</button></td>  
      </tr>
     
      
    </tbody>
  </table> 
</div>
