<form [formGroup]="registerForm" id="registerForm" (ngSubmit)="registerNewUser()">
    <div class="card mt-5">
        <div class="card-header">
            <h5><span>Please register now</span></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row" >
                        <div class="col-sm-6 mb-1">
                            <h5><span class="badge badge-secondary">Username: </span></h5>
                        </div>
                        <div class="col-sm-6 mb-1" >
                            <app-text-input [formControl]='registerForm.controls["UserName"]' [label]='"username"'
                                [type]='"email"' [databaseStatus]="isNotInDatabase" [controlNo]="1" (ev)="hideRestPage($event)"> </app-text-input>
                        </div>
                    </div>
                    <div class="row" *ngIf="show_hidePage()">
                        <div class="col-sm-6 mb-1">
                            <h5><span class="badge badge-secondary">Password: </span></h5>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <app-text-input [formControl]='registerForm.controls["password"]' [label]='"password"'
                                [type]='"password"' [databaseStatus]="isNotInDatabase" [controlNo]="2" (ev)="hideRestPage($event)"></app-text-input>
                        </div>
                    </div>
                    <div class="row" *ngIf="show_hidePage()">
                        <div class="col-sm-6 mb-1">
                            <h5><span class="badge badge-secondary">Confirm Password: </span></h5>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <app-text-input [formControl]='registerForm.controls["confirmPassword"]'
                                [label]='"Confirm Password"' [type]='"password"' [databaseStatus]="isNotInDatabase" [controlNo]="3" (ev)="hideRestPage($event)"></app-text-input>
                        </div>
                    </div>
                    <div class="row" *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1"><h5><span class="badge badge-secondary">Select your country</span></h5></div>
                    <div class="col-sm-6 mb-1 form-group">
                        
                        <select formControlName='country' (change)="changeCountry()" class="form-control">
                            <option *ngFor="let item of optionCountries" [value]=item.value>{{ item.description }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2 mb-2"  *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1"><h5><span class="badge badge-secondary">Select your current hospital</span></h5></div>
                    <div class="col-sm-6 mb-1">
                        <select  class="form-control" formControlName='currentHospital'>
                            <option *ngFor="let item of hospitals" [value]=item.value>{{ item.description }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1">
                        <h5><span class="badge badge-secondary">City: </span></h5>
                    </div>
                    <div class="col-sm-6 mb-1">
                        <app-text-input [formControl]='registerForm.controls["city"]'
                            [label]='"city name"' [type]='"text"' [databaseStatus]="isNotInDatabase" [controlNo]="4" (ev)="hideRestPage($event)"></app-text-input>
                    </div>
                </div>
                <div class="row" *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1">
                        <h5><span class="badge badge-secondary">Alias: </span></h5>
                    </div>
                    <div class="col-sm-6 mb-1">
                        <app-text-input [formControl]='registerForm.controls["knownAs"]'
                            [label]='"alias"' [type]='"text"' [databaseStatus]="isNotInDatabase" [controlNo]="5" (ev)="hideRestPage($event)"></app-text-input>
                    </div>
                </div>
                <div class="row" *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1">
                        <h5><span class="badge badge-secondary">Mobile: </span></h5>
                    </div>
                    <div class="col-sm-6 mb-1">
                        <app-text-input [formControl]='registerForm.controls["mobile"]'
                            [label]='"mobile number"' [type]='"text"' [databaseStatus]="isNotInDatabase" [controlNo]="6" (ev)="hideRestPage($event)"></app-text-input>
                    </div>
                </div>
                <div class="row" *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1">
                        <h5><span class="badge badge-secondary">Active:</span></h5>
                    </div>
                    <div class="col-sm-6 mb-1">
                        <ui-switch formControlName='active'></ui-switch>
                    </div>
                </div>
                <div class="row" *ngIf="show_hidePage()">
                    <div class="col-sm-6 mb-1">
                        <h5><span class="badge badge-secondary">Ltk:</span></h5>
                    </div>
                    <div class="col-sm-6 mb-1">
                        <ui-switch  formControlName='ltk'></ui-switch>
                    </div>
                </div> 
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <img class="card-img-top img-thumbnail"
                                    src="{{ Registermodel.PhotoUrl || '../../../../../assets/images/else-03.jpg' }}"
                                    alt="test" width="250" height="350" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger" (click)='cancel()'>Cancel</button>
                        <button type="submit" class="btn btn-success" form="registerForm">Register now</button>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
           <!--   <p>Form value: {{registerForm.value |json}}</p>
            <p>Form status: {{registerForm.status |json}}</p>  -->
        </div>
    </div>
</form>