<div class="card m-5">
  <div class="card-header">
      <h5><span class="badge badge-info">Tutorials</span></h5>
  </div>
  <div class="class-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <accordion [closeOthers] = "oneAtATime">
              <accordion-group heading="Introduction"  [isOpen]="isFirstOpen" >
               <div class="card">
                <div class="card-header"><h2>Trac: The Ultimate Solution for Cardiac Surgeons</h2></div>
                <div class="card-body">
                  <div class="card">
                    <div class="card-header subheading"><h4>Overview</h4></div>
                    <div class="card-body">
                      Trac is a comprehensive outcomes application specifically designed for cardiac surgeons looking to enhance their practice. With a user-friendly interface and advanced features, Trac revolutionizes the way surgeons track and analyze crucial data. Say goodbye to manual record-keeping and time-consuming report generation – Trac automates the entire process, enabling surgeons to focus on what truly matters: delivering exceptional patient care.
                   </div>
                  </div>
                  <div class="card">
                    <div class="card-header subheading"><h4>Track Patient Outcomes with Ease</h4></div>
                    <div class="card-body">
                      One of Trac's standout functionalities is its ability to effortlessly generate Vlad graphs, allowing surgeons to visualize patient outcomes with precision and clarity. With just a few clicks, Trac transforms complex data into informative visual representations, allowing surgeons to identify trends, evaluate performance, and drive continuous improvement. Whether you're looking to monitor post-operative complications, long-term outcomes, or other key metrics, Trac provides the tools you need to make data-driven decisions and elevate your surgical practice to new heights.
                   </div>
                  </div>
                  <div class="card">
                    <div class="card-header subheading"><h4>A Reliable Companion Both Inside and Outside the Hospital</h4></div>
                    <div class="card-body">
                      Unlike other applications on the market, Trac is not dependent on hospital systems, meaning you can access and utilize its powerful features anytime, anywhere. Collaborate seamlessly with your surgical team, even when you're away from the hospital, and stay connected to your patient outcomes with ease. Trac ensures that you have a reliable companion by your side throughout your surgical journey, empowering you to maintain productivity and efficiency, wherever life takes you.
                    </div>
                  </div>
                </div>
                <div class="card-footer"></div>
               </div> 
               








              </accordion-group>
              <accordion-group heading="Getting started" >
                This chapter will get you going with the application ... <a (click)="linkToGettingStarted()" style="color:green">read more</a>
              </accordion-group>
              <accordion-group heading="Configuration">
                How to configure the application  ... <a (click)="linkToConfiguration()" style="color:green">read more</a>
              </accordion-group>
              <accordion-group heading="Adding procedures">
                This will be your daily interaction with the application ... <a (click)="linkToAddingProcedures()" style="color:green">read more</a>
              </accordion-group>
              <accordion-group heading="Reporting">
                Explains and walks you through the many features of the reporting system ... <a (click)="linkToReporting()" style="color:green">read more</a>
              </accordion-group>
              <accordion-group heading="Statistics">
                The outcomes, the meat of the application let's say ... <a (click)="linkToStatistics()" style="color:green">read more</a>
              </accordion-group>
            </accordion>
          </div>
          <div class="card-footer">
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/images/helios_450.jpg" alt="test" width="375" height="500" />
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>&copy; 2022 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()" style="color:blue">CSD</a>)</p>
</div>
</div>

