
<form #epaDetails="ngForm" id="epaDetails">
  <div class="row">
    <div class="col-sm-2"><span class="badge badge-secondary">Epa Started</span></div>
    <div class="col-sm-4">
      <p class="input-group">
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="selectedEpa.date_started"
          [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" name="datum1" />
      </p>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h5><span class="badge badge-secondary">Completed:</span></h5>
    </div>
    <div class="col-sm-10">
      <ui-switch [(ngModel)]="selectedEpa.finished" name="testactive"></ui-switch>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 mt-2">
      <h5><span class="badge badge-secondary">KBP:</span></h5>
    </div>
    <div class="col-sm-10">
      <ui-switch [(ngModel)]="selectedEpa.KBP" name="testkbp"></ui-switch>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 mt-2">
      <h5><span class="badge badge-secondary">OSATS:</span></h5>
    </div>
    <div class="col-sm-10">
      <ui-switch [(ngModel)]="selectedEpa.OSATS" name="testosats"></ui-switch>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 mt-2">
      <h5><span class="badge badge-secondary">Beoordeling_360:</span></h5>
    </div>
    <div class="col-sm-10">
      <ui-switch [(ngModel)]="selectedEpa.beoordeling_360" name="test360"></ui-switch>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 mt-2">
      <h5><span class="badge badge-secondary">CAT_CAL:</span></h5>
    </div>
    <div class="col-sm-10">
      <ui-switch [(ngModel)]="selectedEpa.caT_CAL" name="testcat"></ui-switch>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 mt-2">
      <h5><span class="badge badge-secondary">Examen:</span></h5>
    </div>
    <div class="col-sm-10">
      <ui-switch [(ngModel)]="selectedEpa.examen" name="testex"></ui-switch>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-success" (click)="saveEpa()">Save</button>
  </div>
</form>
  
    
