<form #photoForm="ngForm" id="FotoFormDetailsForm">
<div class="mt-5">
  <div class="row" *ngIf="showAdd()">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Adding a image to this procedure</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h4><span class="badge badge-secondary">Description:</span></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <input type="text" name="Description" [(ngModel)]="Photo.Description" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mt-2">
                <app-uploadphoto *ngIf="IsLoaded()" [targetUrl]="targetUrl"
                  (getProcedurePhoto)="updateProcedurePhoto($event)"></app-uploadphoto>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-danger" (click)="cancel()">cancel</button>
              <button type="button" class="btn btn-success ml-1" (click)="saveProcedurePhoto()">Save</button>
            </div>
          </div>
        </div>
      </div>
    
    <div class="col-sm-6">
      <img src="../../assets/images/else-12.jpeg" alt="test" width="375" height="500" />
    </div>
  </div>
  <div class="row" *ngIf="!showAdd()">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">List</div>
        <div class="card-footer">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" (click)="cancel()">cancel</button>
            <button type="button" class="btn btn-success" (click)="addProcedure()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="../../assets/images/else-05.jpeg" alt="test" width="375" height="500" />
    </div>
  </div>
</div>
</form>